/* TODO: make responsive */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif, Helvetica;
}

section {
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 3em;
    margin: 25px auto;
}

.player,
.computer {
    display: inline-block;
    width: 125px;
}

.player {
    margin-right: 25px;
}
.computer {
    margin-left: 25px;
}

.player p,
.computer p {
    font-size: 3.5em;
    border: 2px solid black;
    margin: 10px;
}

.player h1,
.computer h1 {
    font-size: 1.25em;
    letter-spacing: 1px;
    font-variant: small-caps;
}



.select {
    margin-left: auto;
    margin-right: auto;
}

button,
select {
    margin: 0 auto;
    text-align: center;
    border-radius: 2.5px;
}

select {
    padding: 8.5px 25px;
}



button.reset-btn,
button.play-btn  {
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    
    text-align: center;
    font-weight: 700;
    padding: 10px 40px;
    
    transition: all .15s;
}
button.play-btn {
    background: #00f;
}
button.reset-btn {
    background: #f00;
}

button.reset-btn:hover,
button.play-btn:hover {
    background: #fff;
}
button.play-btn:hover {
    color: #00f;
    border: 1px solid #00f;
}
button.reset-btn:hover {
    color: #f00;
    border: 1px solid #f00;
}

.player-wins {
/*    border: 2px solid #0f0;*/
    color: #0f0;
}
.computer-wins {
    color: #f00;
/*    border: 2px solid #f00;*/
}

.hidden {
    opacity: 0.25;
    color: #a1a1a1;
}