@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*, *:before, *:after {
    box-sizing: border-box;
    
/*    border: 1px solid red;*/
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif, Helvetica;
    
    display: flex;
    justify-content: center;
}

section {
    width: 50%;
    
    display: flex;
    flex-direction: column;
}

section > div,
section > select,
section > button {
    margin-top: 25px;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.score-box {
    width: 40%;
    border: 5px solid black;
    
    text-align: center;
    font-size: 4em;
}

button,
select {
    margin: 0 auto;
    text-align: center;
    border-radius: 2.5px;
}

select {
    padding: 9px 25px;
}

button.reset-btn,
button.play-btn  {
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    
    text-align: center;
    font-weight: 700;
    padding: 10px 40px;
    
    transition: all .15s;
}
button.play-btn {
    background: #00f;
}
button.reset-btn {
    background: #f00;
}

button.reset-btn:hover,
button.play-btn:hover {
    background: #fff;
}
button.play-btn:hover {
    color: #00f;
    border: 1px solid #00f;
}
button.reset-btn:hover {
    color: #f00;
    border: 1px solid #f00;
}